# Chapa Payment Configuration
# Get these from your Chapa Dashboard: https://dashboard.chapa.co/
# Public key starts with CHAPUBK_
VITE_CHAPA_PUBLIC_KEY=CHAPUBK_TEST-F9OgiMgnCAcvwEWPSO8i3hVuWSuiGxql
# Secret key starts with CHASECK_
VITE_CHAPA_SECRET_KEY=CHASECK_TEST-I0ld34qH9EAzLXGIyJgcc7AmhmBM8Ad0


# Firebase Configuration (already configured)
VITE_FIREBASE_API_KEY=AIzaSyAFra_OD_s3SHcCC4hD0Gvojnrv1mvqdPk
VITE_FIREBASE_AUTH_DOMAIN=tour-management-9f212.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tour-management-9f212
VITE_FIREBASE_STORAGE_BUCKET=tour-management-9f212.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=550889839588
VITE_FIREBASE_APP_ID=1:550889839588:web:de8be69cf64a34e38945f1

# Application Configuration
VITE_APP_URL=http://localhost:5173